In [1]:
import pandas as pd
import numpy as np
data = {
    'Score':[56, 74, 63, 63, 72, 50, 63, 44, 80 ],
    'Rank':[8, 3, 6, 2, 1, 13, 5, 13, 1],
    'Year':[2019, 2019, 2019, 2017, 2017, 2017, 2018, 2018, 2018],
    'Team':['Corinthians', 'Palmeiras', 'São Paulo', 
            'Palmeiras', 'Corinthians', 'São Paulo',
            'São Paulo', 'Corinthians', 'Palmeiras']}
df = pd.DataFrame(data)
print(df)

   Score  Rank  Year         Team
0     56     8  2019  Corinthians
1     74     3  2019    Palmeiras
2     63     6  2019    São Paulo
3     63     2  2017    Palmeiras
4     72     1  2017  Corinthians
5     50    13  2017    São Paulo
6     63     5  2018    São Paulo
7     44    13  2018  Corinthians
8     80     1  2018    Palmeiras

## what is the average score of each team between 2017-2019?

In [2]:
df.groupby('Team')['Score'].mean().round(2)

Team
Corinthians    57.33
Palmeiras      72.33
São Paulo      58.67
Name: Score, dtype: float64

## what is the maximum and minimum score per year?

In [3]:
df.groupby('Year')[['Score']].agg([np.min, np.max])

     Score
      amin amax
Year
2017    50   72
2018    44   80
2019    56   74

## what is the average of points per year, among all the selected teams?

In [4]:
df.groupby('Year')['Score'].mean().round(2)

Year
2017    61.67
2018    62.33
2019    64.33
Name: Score, dtype: float64

## how many teams have been in the Top 5 each year?

In [5]:
df[df['Rank'] <= 5].groupby('Year')['Team'].count()

Year
2017    2
2018    2
2019    1
Name: Team, dtype: int64

## obtain descriptive statistics of the score for each team (average, maximum, minimum, standard deviation, median), for the established time frame.

In [6]:
metrics = [np.mean, np.std, np.var, np.median]
df.groupby('Team')['Score'].agg(metrics)

                  mean        std         var  median
Team
Corinthians  57.333333  14.047538  197.333333      56
Palmeiras    72.333333   8.621678   74.333333      74
São Paulo    58.666667   7.505553   56.333333      63