In [1]:
import pandas as pd
students = [
    'Naomi', 'Yumi','Hinata',
    'Hana', 'Akira', 'Yuki',
    'Yudi', 'Sakura', 'Sasuke',
    'Hiroshi', 'Ken', 'Emi']
mathematics = [1, 3, 1, 3, 4, 3, 1, 9, 5, 9, 1, 2]
chemestry = [6, 5, 5, 8, 6, 6, 5, 3, 7, 8, 6, 4]
biology = [8, 7, 9, 9, 7, 7, 8, 7, 7, 7, 7, 9]
economy = [3, 2, 7, 8, 9, 9, 5, 9, 8, 6, 7, 9]
data = {
    'Students': students,
    'Mathematics':mathematics,
    'Chemestry':chemestry,
    'Biology': biology,
    'Economy': economy
}

df = pd.DataFrame(data, index = range(1,len(students)+1))
print(df)

   Students  Mathematics  Chemestry  Biology  Economy
1     Naomi            1          6        8        3
2      Yumi            3          5        7        2
3    Hinata            1          5        9        7
4      Hana            3          8        9        8
5     Akira            4          6        7        9
6      Yuki            3          6        7        9
7      Yudi            1          5        8        5
8    Sakura            9          3        7        9
9    Sasuke            5          7        7        8
10  Hiroshi            9          8        7        6
11      Ken            1          6        7        7
12      Emi            2          4        9        9

## Descriptive statistics of the notes

In [2]:
df.describe()

       Mathematics  Chemestry    Biology    Economy
count    12.000000  12.000000  12.000000  12.000000
mean      3.500000   5.750000   7.666667   6.833333
std       2.876235   1.484771   0.887625   2.405801
min       1.000000   3.000000   7.000000   2.000000
25%       1.000000   5.000000   7.000000   5.750000
50%       3.000000   6.000000   7.000000   7.500000
75%       4.250000   6.250000   8.250000   9.000000
max       9.000000   8.000000   9.000000   9.000000

## create a new column to store the students' final average

In [3]:
df['Final average'] = df.drop(['Students'], axis = 1).mean(axis = 1)
df['Final average']

1     4.50
2     4.25
3     5.50
4     7.00
5     6.50
6     6.25
7     4.75
8     7.00
9     6.75
10    7.50
11    5.25
12    6.00
Name: Final average, dtype: float64

## create a new column to inform whether the student has been approved or not, based on the final score (the grade must be greater than or equal to 7)

In [4]:
def show_result(grade):
    if grade>=7:
        return 'Approved'
    else:
        return 'Reproved'

df['Result'] = df['Final average'].apply(show_result)
print(df)

   Students  Mathematics  Chemestry  Biology  Economy  Final average    Result
1     Naomi            1          6        8        3           4.50  Reproved
2      Yumi            3          5        7        2           4.25  Reproved
3    Hinata            1          5        9        7           5.50  Reproved
4      Hana            3          8        9        8           7.00  Approved
5     Akira            4          6        7        9           6.50  Reproved
6      Yuki            3          6        7        9           6.25  Reproved
7      Yudi            1          5        8        5           4.75  Reproved
8    Sakura            9          3        7        9           7.00  Approved
9    Sasuke            5          7        7        8           6.75  Reproved
10  Hiroshi            9          8        7        6           7.50  Approved
11      Ken            1          6        7        7           5.25  Reproved
12      Emi            2          4        9        9           6.00  Reproved