## create a column for 'Brand E', which recorded the following profits for the respective years: 70, 77, 81, 103

In [1]:
import pandas as pd
import numpy as np
np.random.seed(7)

data = np.random.randint(1,50,16,).reshape((4,4))
index = ['Year '+str(i) for i in range(1,5)]
columns = ['Brand '+chr(65+i) for i in range(4)]
df = pd.DataFrame(data, columns = columns, index= index )
df['Brand E'] = [70, 77, 81, 103]
print(df)

        Brand A  Brand B  Brand C  Brand D  Brand E
Year 1       48        5       26        4       70
Year 2       20       24       40       29       77
Year 3       15       24        9       26       81
Year 4       47       43       27        9      103

## rename the column names to, respectively: 'A', 'B', 'C', 'D', 'E'

In [2]:
df.rename(
    columns = {
        'Brand A': 'A',
        'Brand B': 'B',
        'Brand C': 'C',
        'Brand D': 'D',
        'Brand E': 'E'
    }, inplace = True)
print(df)

         A   B   C   D    E
Year 1  48   5  26   4   70
Year 2  20  24  40  29   77
Year 3  15  24   9  26   81
Year 4  47  43  27   9  103

## rename the DataFrame index to respectively: 'YEAR 1', 'YEAR 2', 'YEAR 3', 'YEAR 4'

In [3]:
df.rename(index = lambda coluna:coluna.upper(), inplace = True)
print(df)

         A   B   C   D    E
YEAR 1  48   5  26   4   70
YEAR 2  20  24  40  29   77
YEAR 3  15  24   9  26   81
YEAR 4  47  43  27   9  103

## replace the 'Brand C' profit value ('C' in the new notation) in YEAR 2 from 40 to 37

In [5]:
df.loc['YEAR 2', 'C'] = 37
print(df)

         A   B   C   D    E
YEAR 1  48   5  26   4   70
YEAR 2  20  24  37  29   77
YEAR 3  15  24   9  26   81
YEAR 4  47  43  27   9  103