In [1]:
import numpy as np
import pandas as pd
index = pd.date_range(start = '2020-1-1', end = '2020-1-6', freq = 'D')
data = {
    'A': [10, np.nan, 35, 47, 17, 13],
    'B': ['A', np.nan, 'B', 'A', 'A', np.nan],
    'C': [139, np.nan, np.nan, 199, 111, 140]}
df = pd.DataFrame(data, index)
print(df)

               A    B      C
2020-01-01  10.0    A  139.0
2020-01-02   NaN  NaN    NaN
2020-01-03  35.0    B    NaN
2020-01-04  47.0    A  199.0
2020-01-05  17.0    A  111.0
2020-01-06  13.0  NaN  140.0

## Use the function isna(), isnull(), notna() or notnull() to check NaN in each column of the dataset

In [3]:
print(df.isna())
print(df.isnull())
print(df.notna())
print(df.notnull())

                A      B      C
2020-01-01  False  False  False
2020-01-02   True   True   True
2020-01-03  False  False   True
2020-01-04  False  False  False
2020-01-05  False  False  False
2020-01-06  False   True  False
                A      B      C
2020-01-01  False  False  False
2020-01-02   True   True   True
2020-01-03  False  False   True
2020-01-04  False  False  False
2020-01-05  False  False  False
2020-01-06  False   True  False
                A      B      C
2020-01-01   True   True   True
2020-01-02  False  False  False
2020-01-03   True   True  False
2020-01-04   True   True   True
2020-01-05   True   True   True
2020-01-06   True  False   True
                A      B      C
2020-01-01   True   True   True
2020-01-02  False  False  False
2020-01-03   True   True  False
2020-01-04   True   True   True
2020-01-05   True   True   True
2020-01-06   True  False   True

## Use the dropna() function to remove rows with missing data from the dataset

In [4]:
df = df.dropna(axis = 0)
print(df)

               A  B      C
2020-01-01  10.0  A  139.0
2020-01-04  47.0  A  199.0
2020-01-05  17.0  A  111.0