In [12]:
import pandas as pd

df = pd.read_csv('tillages.csv', index_col="Year")
print(df)

      Abacate     Açaí   Banana   Cacau   Laranja     Maçã    Mamão    Manga
Year
2017   212873  1335040  6584967  235809  17492882  1307642  1058487  1089882
2018   236177  1301472  6723590  239318  16841549  1203007  1065421  1320458
2019   242932  1398328  6812708  259425  17073593  1222970  1161808  1414338

## a) average of the total amount produced from the respective tillages in 2017, 2018 and 2019

In [14]:
df.mean(axis=1)

Year
2017    3664697.75
2018    3616374.00
2019    3698262.75
dtype: float64

## b) average of the quantity produced from each tillage between the selected period

In [15]:
df.mean(axis=0)

Abacate    2.306607e+05
Açaí       1.344947e+06
Banana     6.707088e+06
Cacau      2.448507e+05
Laranja    1.713601e+07
Maçã       1.244540e+06
Mamão      1.095239e+06
Manga      1.274893e+06
dtype: float64

## c) standard deviation of the total amount produced from the respective tillages in 2017, 2018 and 2019

In [17]:
df.std(axis=1)

Year
2017    5.950079e+06
2018    5.736500e+06
2019    5.799394e+06
dtype: float64

## d) standard deviation of the quantity produced for each tillage between the selected period

In [18]:
df.std(axis=0)

Abacate     15770.488906
Açaí        49182.087363
Banana     114763.755264
Cacau       12743.102618
Laranja    330121.785696
Maçã        55552.305950
Mamão       57754.888921
Manga      166958.299241
dtype: float64

## e) variance in the total amount produced from the respective tillages in 2017, 2018 and 2019

In [19]:
df.var(axis=1)

Year
2017    3.540344e+13
2018    3.290743e+13
2019    3.363298e+13
dtype: float64

## f) variance of the quantity produced for each tillage between the selected period

In [20]:
df.var(axis=0)

Abacate    2.487083e+08
Açaí       2.418878e+09
Banana     1.317072e+10
Cacau      1.623867e+08
Laranja    1.089804e+11
Maçã       3.086059e+09
Mamão      3.335627e+09
Manga      2.787507e+10
dtype: float64