In [3]:
import pandas as pd
import numpy as np

dados = {
    'Abacate':{
        2017: 212873,
        2018: 236177,
        2019: 242932
    },    
    'Açaí':{
        2017:1335040,
        2018:1301472,
        2019:1398328
    },
    'Banana':{
        2017:6584967,
        2018:6723590,
        2019:6812708
    },    
    'Cacau':{
        2017:235809,
        2018:239318,
        2019:259425
    },    
    'Laranja':{
        2017:17492882,
        2018:16841549,
        2019:17073593
    },    
    'Maçã':{
        2017:1307642,
        2018:1203007,
        2019:1222970
    },
    'Mamão':{
        2017:1058487,
        2018:1065421,
        2019:1161808
    },    
    'Manga':{
        2017:1089882,
        2018:1320458,
        2019:1414338
    },
 
}
df = pd.DataFrame(dados)
print(df)

      Abacate     Açaí   Banana   Cacau   Laranja     Maçã    Mamão    Manga
2017   212873  1335040  6584967  235809  17492882  1307642  1058487  1089882
2018   236177  1301472  6723590  239318  16841549  1203007  1065421  1320458
2019   242932  1398328  6812708  259425  17073593  1222970  1161808  1414338

## a) obtain the total amount produced by tillages in each year

In [7]:
df.sum(axis=1)

2017    29317582
2018    28930992
2019    29586102
dtype: int64

## b) obtain the total amount produced by each tillage over time

In [8]:
df.sum(axis=0)

Abacate      691982
Açaí        4034840
Banana     20121265
Cacau        734552
Laranja    51408024
Maçã        3733619
Mamão       3285716
Manga       3824678
dtype: int64

## c) show a summary of the descriptive statistics

In [9]:
df.describe()

,Abacate,Açaí,Banana,Cacau,Laranja,Maçã,Mamão,Manga
count,3.000000,3.000000e+00,3.000000e+00,3.000000,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
mean,230660.666667,1.344947e+06,6.707088e+06,244850.666667,1.713601e+07,1.244540e+06,1.095239e+06,1.274893e+06
std,15770.488906,4.918209e+04,1.147638e+05,12743.102618,3.301218e+05,5.555231e+04,5.775489e+04,1.669583e+05
min,212873.000000,1.301472e+06,6.584967e+06,235809.000000,1.684155e+07,1.203007e+06,1.058487e+06,1.089882e+06
25%,224525.000000,1.318256e+06,6.654278e+06,237563.500000,1.695757e+07,1.212988e+06,1.061954e+06,1.205170e+06
50%,236177.000000,1.335040e+06,6.723590e+06,239318.000000,1.707359e+07,1.222970e+06,1.065421e+06,1.320458e+06
75%,239554.500000,1.366684e+06,6.768149e+06,249371.500000,1.728324e+07,1.265306e+06,1.113614e+06,1.367398e+06
max,242932.000000,1.398328e+06,6.812708e+06,259425.000000,1.749288e+07,1.307642e+06,1.161808e+06,1.414338e+06

## d) convert the database to csv.

In [12]:
df.to_csv('tillages.csv', index_label="Year")