## Ex6_9

In [3]:
import pandas as pd

df = pd.read_csv('FAOSTAT_data_12-5-2020.csv')
print(df)
print("\nshape of df:", df.shape)

   Domain Code Domain  Area Code                      Area  Element Code  \
0           QC  Crops          9                 Argentina          5419
1           QC  Crops          9                 Argentina          5419
2           QC  Crops          9                 Argentina          5419
3           QC  Crops          9                 Argentina          5510
4           QC  Crops          9                 Argentina          5510
..         ...    ...        ...                       ...           ...
61          QC  Crops        231  United States of America          5419
62          QC  Crops        231  United States of America          5419
63          QC  Crops        231  United States of America          5510
64          QC  Crops        231  United States of America          5510
65          QC  Crops        231  United States of America          5510

       Element  Item Code      Item  Year Code  Year    Unit     Value Flag  \
0        Yield        515    Apples       2016  2016   hg/ha    223912   Fc
1        Yield        515    Apples       2017  2017   hg/ha    235386   Fc
2        Yield        515    Apples       2018  2018   hg/ha    213072   Fc
3   Production        515    Apples       2016  2016  tonnes    458908  NaN
4   Production        515    Apples       2017  2017  tonnes    458908  NaN
..         ...        ...       ...        ...   ...     ...       ...  ...
61       Yield        388  Tomatoes       2017  2017   hg/ha    886625   Fc
62       Yield        388  Tomatoes       2018  2018   hg/ha    968079   Fc
63  Production        388  Tomatoes       2016  2016  tonnes  12877049  NaN
64  Production        388  Tomatoes       2017  2017  tonnes  11141862  NaN
65  Production        388  Tomatoes       2018  2018  tonnes  12612139  NaN

   Flag Description
0   Calculated data
1   Calculated data
2   Calculated data
3     Official data
4     Official data
..              ...
61  Calculated data
62  Calculated data
63    Official data
64    Official data
65    Official data

[66 rows x 14 columns]

shape of df: (66, 14)

In [4]:
print("dataset information\n")
print(df.info())

dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       66 non-null     object
 1   Domain            66 non-null     object
 2   Area Code         66 non-null     int64
 3   Area              66 non-null     object
 4   Element Code      66 non-null     int64
 5   Element           66 non-null     object
 6   Item Code         66 non-null     int64
 7   Item              66 non-null     object
 8   Year Code         66 non-null     int64
 9   Year              66 non-null     int64
 10  Unit              66 non-null     object
 11  Value             66 non-null     int64
 12  Flag              43 non-null     object
 13  Flag Description  66 non-null     object
dtypes: int64(6), object(8)
memory usage: 7.3+ KB
None

In [5]:
print("data type for each column\n")
print(df.dtypes)

data type for each column

Domain Code         object
Domain              object
Area Code            int64
Area                object
Element Code         int64
Element             object
Item Code            int64
Item                object
Year Code            int64
Year                 int64
Unit                object
Value                int64
Flag                object
Flag Description    object
dtype: object

In [6]:
columns = ['Domain Code', 
           'Domain', 
           'Area Code',
           'Element Code',
           'Item Code',
           'Year Code', 
           'Flag', 
           'Flag Description']
df.drop(columns , axis = 1, inplace = True)

In [7]:
print("data type for each column after delete some columns\n")
print(df.dtypes)

data type for each column after delete some columns

Area       object
Element    object
Item       object
Year        int64
Unit       object
Value       int64
dtype: object

In [8]:
df = df.astype({'Value':float})
print("data type Value\n")
print(df.dtypes)

data type Value

Area        object
Element     object
Item        object
Year         int64
Unit        object
Value      float64
dtype: object

## EX6_10

In [9]:
df.to_csv('FAOSTAT-modified.csv', index = False)