## Ex6_5

## Load the CardioGoodFitness database attached in this class

In [1]:
import pandas as pd
df = pd.read_csv('CardioGoodFitness.csv')

## Print the number of rows and columns of the dataset

In [2]:
print(df.shape)

(180, 9)

## Print the first 3 lines of the DataFrame

In [3]:
print(df.head(n = 3))

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66

## Print the last 2 lines of the DataFrame

In [4]:
print(df.tail(n = 2))

    Product  Age Gender  Education MaritalStatus  Usage  Fitness  Income  \
178   TM798   47   Male         18     Partnered      4        5  104581
179   TM798   48   Male         18     Partnered      4        5   95508

     Miles
178    120
179    180

## Print the data type for each column

In [5]:
print(df.dtypes)

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

## Convert the Income column to float

In [6]:
df['Income'] = df['Income'].astype(float)
print(df)

    Product  Age  Gender  Education MaritalStatus  Usage  Fitness    Income  \
0     TM195   18    Male         14        Single      3        4   29562.0
1     TM195   19    Male         15        Single      2        3   31836.0
2     TM195   19  Female         14     Partnered      4        3   30699.0
3     TM195   19    Male         12        Single      3        3   32973.0
4     TM195   20    Male         13     Partnered      4        2   35247.0
..      ...  ...     ...        ...           ...    ...      ...       ...
175   TM798   40    Male         21        Single      6        5   83416.0
176   TM798   42    Male         18        Single      5        4   89641.0
177   TM798   45    Male         16        Single      5        5   90886.0
178   TM798   47    Male         18     Partnered      4        5  104581.0
179   TM798   48    Male         18     Partnered      4        5   95508.0

     Miles
0      112
1       75
2       66
3       85
4       47
..     ...
175    200
176    200
177    160
178    120
179    180

[180 rows x 9 columns]

## Print the unique values of the Product column

In [7]:
print(df['Product'].unique())

['TM195' 'TM498' 'TM798']

## Print the unique values of the MaritalStatus column

In [8]:
print(df['MaritalStatus'].unique())

['Single' 'Partnered']

## Print the proportion of men and women.

In [9]:
print(df['Gender'].value_counts())

Male      104
Female     76
Name: Gender, dtype: int64

## Ex6_6

In [10]:
df.to_json('CardioGoodFitness.json')